<main class="main">
  <section class="sortiment-page-section">
    <h2 class="section-main-title">Sortiment</h2>

    <div class="sortiment-grid-5">
      <% @kategorie.each do |kat| %>
        <%= link_to kat.link, class: "sortiment-card" do %>

          <div class="sortiment-card-img">
            <%= image_tag kat.image, alt: kat.title %>
          </div>
          <div class="sortiment-card-text">
            <h3><%= kat.title %></h3>
            <p><%= kat.text %></p>
          </div>

        <% end %>
      <% end %>
    </div>

    <%= render "shared/jak_objednat" %>

  </section>
</main>